

.Counter{
    text-align: center;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.Counter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    padding: 20px;
    margin: 10px;
    background: black;
    color: white;
    border-style: ridge;
    
}
